<app-blocked-send-info-database [blockedPanel]="blockedPanel"></app-blocked-send-info-database>
<p-card header="Listado de Usuarios">
    <p-table #dtData [value]="listUser" [tableStyle]="{'min-width': '50rem'}" [loading]="loadingUser" [paginator]="true"
        [rows]="10" styleClass="p-datatable-sm"
        [globalFilterFields]="['UserName','Email','RoleName','IsLockedOut','IsApproved']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div class="flex gap-2">
                    <p-button label="Agregar" severity="success" icon="fa-solid fa-plus"
                        (onClick)="onCreateUser()"></p-button>
                    <p-button label="Sincronizar" severity="primary" (onClick)="ngOnInit()" [loading]="loadingUser"
                        icon="pi pi-sync"></p-button>
                </div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="onGlobalFilter(dtData
                  , $event)" placeholder="Filtrar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:2.5%">#</th>
                <th style="width:15%">Accion</th>
                <th pSortableColumn="UserName">Usuario <p-sortIcon field="UserName" /></th>
                <th pSortableColumn="Email">Email<p-sortIcon field="Email" /></th>
                <th pSortableColumn="RoleName">Rol<p-sortIcon field="RoleName" /></th>
                <th pSortableColumn="IsLockedOut">Bloqueo sesión<p-sortIcon field="IsLockedOut" /></th>
                <th pSortableColumn="IsApproved">Estado <p-sortIcon field="IsApproved" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns" let-ri="rowIndex">
            <tr>
                <td class="text-center">
                    {{ri + 1}}
                </td>
                <td class="flex gap-2">
                    <p-button icon="fa-solid fa-user-pen" [raised]="true" severity="primary" pTooltip="Editar usuario"
                        tooltipPosition="bottom" (onClick)="onEditUser(user)"></p-button>
                    <p-button icon="fa-solid fa-address-card" [raised]="true" severity="success" pTooltip="Asignar Rol"
                        tooltipPosition="bottom" (onClick)="onAsignarRol(user)"></p-button>
                    <p-button icon="fa-solid fa-gear" [raised]="true" severity="warning" pTooltip="Reiniciar contraseña"
                        tooltipPosition="bottom" (onClick)="onSetPassUser(user.UserName)"></p-button>
                </td>
                <td>{{user.UserName}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <div *ngIf="user.RoleName">
                        {{user.RoleName.split('.')[1]}}
                    </div>
                </td>
                <td>
                    <p-tag *ngIf="!user.IsLockedOut" value="No" severity="success" />
                    <p-tag *ngIf="user.IsLockedOut" value="Si" severity="danger" />
                </td>
                <td>
                    <p-tag *ngIf="user.IsApproved" value="Activado" severity="success" />
                    <p-tag *ngIf="!user.IsApproved" value="Desactivado" severity="danger" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!--MODAL DE INSERTAR USUARIO-->
<p-dialog header="Crear usuario" [modal]="true" [(visible)]="modalCreateUser" [style]="{ width: '35rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormCreateUser" (ngSubmit)="onInsertUser()">
            <div class="flex align-items-center gap-3">
                <label for="usuario" class="font-semibold w-6rem">Usuario</label>
                <input pInputText id="usuario" class="flex-auto" autocomplete="off" formControlName="usuario" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="email" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalCreateUser = false" />
            </div>
        </form>
    </div>
</p-dialog>
<!--MODAL DE EDICION USUARIO-->
<p-dialog header="Editar usuario" [modal]="true" [(visible)]="modalEditUser" [style]="{ width: '35rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormEditUser" (ngSubmit)="onUpdateUser()">
            <div class="flex align-items-center gap-3">
                <label for="email" class="font-semibold w-12rem">Email</label>
                <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="email" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="" class=" font-semibold w-12rem">Bloqueo inicio de sessión</label>
                <div class="flex flex-wrap gap-3 align-items-center">
                    <div class=" flex align-items-center">
                        <p-radioButton [value]="true" inputId="radiobtn1" formControlName="bloqueado" />
                        <label for="radiobtn1" class="ml-2">Si</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton [value]="false" inputId="radiobtn2" formControlName="bloqueado" />
                        <label for="radiobtn2" class="ml-2">No</label>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="" class=" font-semibold w-12rem">Aprobar inicio de sesión</label>
                <div class="flex flex-wrap gap-3 align-items-center">
                    <div class=" flex align-items-center">
                        <p-radioButton [value]="true" inputId="radiobtn1" formControlName="aprobado" />
                        <label for="radiobtn1" class="ml-2">Si</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton [value]="false" inputId="radiobtn2" formControlName="aprobado" />
                        <label for="radiobtn2" class="ml-2">No</label>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalEditUser = false" />
            </div>
        </form>
    </div>
</p-dialog>
<!--MODAL DE ASIGANCION-->
<p-dialog header="Asignar rol" [modal]="true" [(visible)]="modalAsigancion" [style]="{ width: '30rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormRol" (ngSubmit)="onInsertAsignacion()">
            <div *ngFor="let rol of listRol">
                <p-radioButton [value]="rol.RoleId" formControlName="rol" [inputId]="rol.RoleId" />
                <label [for]="rol.RoleId" class="ml-2">
                    {{ rol.RoleName.split('.')[1] }}
                </label>
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalAsigancion = false" />
            </div>
        </form>
    </div>
</p-dialog>