<div class="card">
    <p-tabView>
        <p-tabPanel header="CONSULTA DE CLIENTE">
            <div class="flex flex-column gap-3">
                <app-servicio-tecnico-orden-consulta-cliente></app-servicio-tecnico-orden-consulta-cliente>
                <app-servicio-tecnico-orden-seleccionar-cliente></app-servicio-tecnico-orden-seleccionar-cliente>
            </div>
        </p-tabPanel>
        <p-tabPanel header="FORMULARIO">
            <app-servicio-tecnico-orden-formulario></app-servicio-tecnico-orden-formulario>
        </p-tabPanel>
        <p-tabPanel header="EVIDENCIAS">
            <app-servicio-tecnico-orden-evidencias></app-servicio-tecnico-orden-evidencias>
        </p-tabPanel>
        <p-tabPanel header="FIRMAS">
            <app-servicio-tecnico-orden-firma></app-servicio-tecnico-orden-firma>
        </p-tabPanel>
    </p-tabView>
</div>