<app-blocked-send-info-database [blockedPanel]="blockedSendData"></app-blocked-send-info-database>
<app-blocked-get-info-database [blockedPanel]="blockedGetData"></app-blocked-get-info-database>
<p-card header="Listado de importaciones">
    <div class="flex flex-column gap-2">
        <p-button icon="fa-solid fa-plus" label="Agregar" [raised]="true" severity="success"
            (onClick)="onOpenOCI()"></p-button>
        <p-table #dtData [value]="listImportaciones" [tableStyle]="{'min-width': '50rem'}"
            [loading]="loadingImportaciones" [paginator]="true" [rows]="10" styleClass="p-datatable-sm"
            [globalFilterFields]="['UsuarioRegistroOrdenCompra','OrdenCompra','NumeroItems','RazonSocialProveedor','DescripcionEstadoCompra']"
            [responsive]="true" [scrollable]="true" scrollDirection="horizontal" [rows]="8" [paginator]="true">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <form [formGroup]="myFormSearch" class="flex gap-2" (ngSubmit)="onSearchImportaciones()">
                        <div class="flex align-items-center gap-3">
                            <label class="font-semibold">Fecha Inicio</label>
                            <div class="flex-auto">
                                <p-calendar styleClass="w-full" formControlName="fechaIni" />
                            </div>
                        </div>
                        <div class="flex align-items-center gap-3">
                            <label for="" class="font-semibold">Fecha Fin</label>
                            <div class="flex-auto">
                                <p-calendar styleClass="w-full" formControlName="fechaFin" />
                            </div>
                        </div>
                        <div class="flex justify-content-center">
                            <p-button label="Buscar" icon="fa-solid fa-magnifying-glass" severity="primary"
                                [raised]="true" [loading]="loadingImportaciones" type="submit"></p-button>
                        </div>
                    </form>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchValue" (input)="onGlobalFilter(dtData, $event)"
                            placeholder="Filtrar..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="min-width:20px">Id</th>
                    <th style="min-width:50px; width: 75px;">Acciones</th>
                    <th pSortableColumn="Usuario">
                        Usuario <p-sortIcon field="Usuario" />
                    </th>
                    <th pSortableColumn="Referencia">
                        Referencia <p-sortIcon field="Referencia" />
                    </th>
                    <th pSortableColumn="FechaImportacion">
                        Fecha Importacion <p-sortIcon field="FechaImportacion" />
                    </th>
                    <th pSortableColumn="FechaCierre">
                        Fecha Cierre <p-sortIcon field="FechaCierre" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-importacion let-ri="rowIndex">
                <tr>
                    <td class="text-center">{{(ri+1)}}</td>
                    <td class="flex gap-2 justify-content-center">
                        @if(!importacion.FechaCierre){
                        <p-button icon="fa-solid fa-pencil" severity="primary" pTooltip="Editar"
                            tooltipPosition="bottom" [raised]="true"
                            (onClick)="onEditImportacion(importacion)"></p-button>
                        }
                        <p-button icon="fa-solid fa-eye" [raised]="true" severity="success" pTooltip="Visualizar"
                            tooltipPosition="bottom"
                            (onClick)="onGetDetalleImportacion(importacion.IdImportacion)"></p-button>
                    </td>
                    <td>{{importacion.Usuario}}</td>
                    <td>{{importacion.Referencia}}</td>
                    <td>{{importacion.FechaImportacion}}</td>
                    <td>{{importacion.FechaCierre | date: "EEEE, dd MMM y"}}</td>
                    <td>{{importacion.FechaRegistroOrdenCompra | date: "EEEE, dd MMM y"}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>
<!--MODAL DE AGREGAR IMPORTACION-->
<p-dialog header="Crear importacion" [modal]="true" [(visible)]="modalCreateImportacion" [style]="{width: '50rem'}"
    [scrollTop]="true">
    <div class="mt-2">
        <form [formGroup]="myFormCreateImportacion" class="flex flex-column gap-3" (ngSubmit)="onCreateimportacion()">
            @if (loadingOCI) {
            <p-progressSpinner *ngIf="loadingOCI" styleClass="w-3rem h-3rem" strokeWidth="5"
                fill="var(--surface-ground)" animationDuration=".8s" />
            }@else{
            <div class="flex align-items-center gap-3">
                <label for="referencia" class="font-semibold w-7rem">Referencia</label>
                <input pInputText id="referencia" class="flex-auto" autocomplete="off" formControlName="referencia" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="nombre" class="font-semibold w-7rem">Ordenes de compra</label>
                <div class="flex-auto">
                    <p-listbox [options]="listOCI" [style]="{ width: '15rem' }" [multiple]="true" styleClass="w-full"
                        formControlName="selectOC" optionValue="IdCompra">
                        <ng-template let-item pTemplate="item">
                            <div class="flex flex-column">
                                <span>{{item.OrdenCompra}}</span>
                                <span>{{item.RazonSocialProveedor}}</span>
                                <span>{{item.ValorTotal | currency: 'USD': 'symbol':'0.2-4'}}</span>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
            </div>
            }
            <p-button icon="fa-solid fa-floppy-disk" severity="success" [raised]="true" label="Crear"
                type="submit"></p-button>
        </form>
    </div>
</p-dialog>
<!--MODAL DE VISUALIZACION-->
<p-dialog header="Importación" [modal]="true" [(visible)]="modalInfoImportacion" [style]="{ width: '70rem' }"
    [scrollTop]="true" [maximizable]="true">
    <div class="mt-2">
        <!--
        <div class="flex flex-column gap-3">
            <p-fieldset legend="Proveedor">
                
                <div class="flex flex-column gap-3 justify-content-center">
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Razon social</label>
                        <b class="font-semibold flex-auto text-xl">{{cabecera.RazonSocialProveedor}}</b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">NIT</label>
                        <b class="font-semibold flex-auto text-xl">
                            {{cabecera.IdentificacionProveedor}}
                        </b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Dirección</label>
                        <b class="font-semibold flex-auto text-xl">{{cabecera.DirecionProveedor}}</b>
                    </div>
                </div>
             
            </p-fieldset>
            <p-fieldset legend="Información">
                <div class="flex flex-column gap-2 justify-content-center">
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Fecha creación</label>
                        <b class="font-semibold flex-auto text-xl">
                            {{cabecera.FechaRegistroOrdenCompra | date: 'dd-MMMM-yyyy': 'UTC'}}
                        </b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Fecha entrega</label>
                        <b class="font-semibold flex-auto text-xl">
                            {{cabecera.FechaEntrega | date: 'dd-MMMM-yyyy': 'UTC'}}
                        </b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Plazo</label>
                        <b class="font-semibold flex-auto text-xl">{{cabecera.Plazo}} días</b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Subtotal</label>
                        <b class="font-semibold flex-auto text-xl">
                            {{cabecera.ValorBaseImponibleIva | currency :'USD'}}
                        </b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Iva</label>
                        <b class="font-semibold flex-auto text-xl">
                            {{cabecera.ValorIva | currency :'USD'}}
                        </b>
                    </div>
                    <div class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-10rem">Total</label>
                        <b class="font-semibold flex-auto text-xl">{{cabecera.ValorTotal | currency :'USD'}}</b>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="Detalles">
                <p-table #dtData [value]="detalles" [tableStyle]="{'min-width': '50rem'}"
                    [loading]="loadingImportaciones" styleClass="p-datatable-sm p-datatable-striped" [responsive]="true"
                    [scrollable]="true" scrollDirection="horizontal" [scrollTop]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Id</th>
                            <th>Descripció</th>
                            <th>Sustrato</th>
                            <th>Bobinas</th>
                            <th>Ancho</th>
                            <th>Largo</th>
                            <th class="text-right">M2</th>
                            <th class="text-right">Precio</th>
                            <th class="text-right">Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-detalle let-rowIndex="rowIndex">
                        <tr>
                            <td>{{detalle.NumeroItemDetalleCompra}}</td>
                            <td>{{detalle.DescripcionDetalleCompra}}</td>
                            <td>{{detalle.CodigoInternoSustrato}}</td>
                            <td>{{detalle.CantidadCompra}}</td>
                            <td>{{detalle.AnchoDetalleCompra}}</td>
                            <td>{{detalle.LargoDetalleCompra }}</td>
                            <td class="text-right">{{detalle.CantidadDetalleCompra}}</td>
                            <td class="text-right">{{detalle.ValorDetalleCompra | currency: 'USD':'symbol':'1.4-4'}}
                            </td>
                            <td class="text-right">{{detalle.ValorTotalDetalleCompra | currency:
                                'USD':'symbol':'1.4-4'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-fieldset>
            <p-fieldset legend="Adjuntos" *ngIf="cabecera.Adjuntos !== null">
                <div class="flex gap-3">
                    <p-button label="Packing List" icon="fa-solid fa-eye" severity="primary"
                        (onClick)="onGetFile(0)"></p-button>
                    <p-button label="Commercial Invoice" icon="fa-solid fa-eye" severity="primary"
                        (onClick)="onGetFile(1)"></p-button>
                </div>
            </p-fieldset>
            <p-fieldset legend="Acciones">
                <div class="flex gap-3" *ngIf="cabecera.EstadoCompra === 4">
                    <p-button label="Aceptar orden de compra" icon="fa-solid fa-check" severity="success"
                        (onClick)="onAceptCompra()"></p-button>
                    <p-button label="Volver a orden de compra" icon="fa-solid fa-xmark" severity="danger"
                        (onClick)="onCancelCompra()"></p-button>
                </div>
                <div class="flex gap-3" *ngIf="cabecera.EstadoCompra === 5">
                    <p-button label="Ingresar lotes" icon="fa-solid fa-dolly" severity="success"
                        (onClick)="onGenerateLotes(cabecera.IdCompra!)"></p-button>
                </div>
            </p-fieldset>
        </div>
           -->
    </div>
</p-dialog>