<app-blocked-send-info-database [blockedPanel]="blockedSend"></app-blocked-send-info-database>
<p-card header="Listado de productos de inventario">
    <p-table #dtData [value]="listProductosInventario" [tableStyle]="{'min-width': '10rem'}"
        [loading]="loadingProductosInventario" styleClass="p-datatable-sm"
        [globalFilterFields]="['CodigoCatalogoSustrato','CodigoInternoSustrato','DescripcionSustrato','ValorUsd','ValorUsdMsi','Peso','RazonSocialProveedor','DescripcionLineaInventario','NombreGrupo','NombreTipoInventario','AdherenciaSustrato']"
        [responsive]="true" [scrollable]="true" scrollDirection="horizontal" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 50, 100]">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div class="flex gap-3">
                    <p-button label="Agregar" severity="success" icon="fa-solid fa-plus"
                        (onClick)="onOpenModalCreate()"></p-button>
                    <p-button label="Sincronizar" icon="pi pi-sync" [loading]="loadingProductosInventario"
                        (onClick)="ngOnInit()" />
                </div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchProductosInventario" (input)="onGlobalFilter(dtData
                        , $event)" placeholder="Filtrar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="min-width:100px">Acciones</th>
                <th style="min-width:75px" pSortableColumn="CodigoCatalogoSustrato">Id<p-sortIcon
                        field="CodigoCatalogoSustrato" /></th>
                <th style="min-width:100px" pSortableColumn="CodigoInternoSustrato">Código interno<p-sortIcon
                        field="CodigoInternoSustrato" /></th>
                <th style="min-width:500px" pSortableColumn="DescripcionSustrato">
                    Descripción<p-sortIcon field="DescripcionSustrato" />
                </th>
                <th style="min-width:200px" pSortableColumn="Peso">Unidad de medida<p-sortIcon field="Peso" />
                </th>
                <th style="min-width:120px" pSortableColumn="Peso">Valor<p-sortIcon field="Peso" />
                </th>
                <th style="min-width:500px" pSortableColumn="RazonSocialProveedor">
                    Proveedor<p-sortIcon field="RazonSocialProveedor" />
                </th>
                <th style="min-width:500px" pSortableColumn="DescripcionLineaInventario">
                    Linea inventario<p-sortIcon field="DescripcionLineaInventario" />
                </th>
                <th style="min-width:500px" pSortableColumn="NombreGrupo">
                    Grupo inventario<p-sortIcon field="NombreGrupo" />
                </th>
                <th style="min-width:500px" pSortableColumn="NombreTipoInventario">
                    Tipo inventario<p-sortIcon field="NombreTipoInventario" />
                </th>
                <th style="min-width:500px" pSortableColumn="AdherenciaSustrato">
                    Adherencia<p-sortIcon field="AdherenciaSustrato" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto let-columns="columns">
            <tr>
                <td class="flex gap-2 justify-content-center">
                    <p-button icon="fa-solid fa-eye" [raised]="true" severity="success" pTooltip="Visualizar"
                        tooltipPosition="bottom" (onClick)="onOpenModalView(producto)"></p-button>
                    <p-button icon="fa-solid fa-pencil" [raised]="true" severity="primary" pTooltip="Editar"
                        tooltipPosition="bottom" (onClick)="onOpenModalEdit(producto)"></p-button>
                </td>
                <td>{{producto.CodigoCatalogoSustrato}}</td>
                <td>{{producto.CodigoInternoSustrato}}</td>
                <td>{{producto.DescripcionSustrato}}</td>
                <td>{{producto.UnidadMedida}}</td>
                <td>{{producto.Peso}}</td>
                <td>{{producto.RazonSocialProveedor}}</td>
                <td>{{producto.DescripcionLineaInventario}}</td>
                <td>{{producto.NombreGrupo}}</td>
                <td>{{producto.NombreTipoInventario}}</td>
                <td>{{producto.AdherenciaSustrato}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!--MODAL  CREACION-->
<p-dialog header="Crear producto" [modal]="true" [(visible)]="modalCreateProducto" [style]="{ width: '50rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormCreate" (ngSubmit)="onInsertProductoInventario()">
            <div class="flex align-items-center gap-3">
                <label class="font-semibold w-7rem">Código Interno</label>
                <b
                    class="font-semibold flex-auto text-2xl">{{codLineaInventario}}{{codGrupoInventario}}{{codTipoInventario}}</b>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="descripcion" class="font-semibold w-7rem">Descripcion</label>
                <input pInputText id="descripcion" class="flex-auto" autocomplete="off" formControlName="descripcion" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="lineaInventario" class="font-semibold w-7rem">Linea inventario</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="lineaInventario" id="lineaInventario" [options]="listLineaInventario"
                        placeholder="Escoja una opcion" styleClass="w-full" [filter]="true"
                        [filterFields]="['CodigoLineaInventario', 'DescripcionLineaInventario']" [showClear]="true"
                        [loading]="loadingLineaInventario" filterPlaceholder="Buscando..."
                        (ngModelChange)="onChangeLineaInventario($event)" [virtualScroll]="true"
                        [virtualScrollItemSize]="20">
                        <ng-template let-LI pTemplate="selectedItem">
                            <div class="custom-dropdown-item-selected">
                                {{ LI.CodigoLineaInventario }} - {{LI.DescripcionLineaInventario}}
                            </div>
                        </ng-template>
                        <ng-template let-GI pTemplate="item">
                            <div class="custom-dropdown-item">
                                {{ GI.CodigoLineaInventario }} - {{GI.DescripcionLineaInventario}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="grupoInventario" class="font-semibold w-7rem">Grupo inventario</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="grupoInventario" id="grupoInventario" [options]="listGrupoInventario"
                        placeholder="Escoja una opcion" styleClass="w-full" [filter]="true"
                        [filterFields]="['NombreGrupo', 'GrupoInventario']" [showClear]="true"
                        [loading]="loadingGrupoInventario" filterPlaceholder="Buscando..."
                        (ngModelChange)="onChangeGrupoInventario($event)" [virtualScroll]="true"
                        [virtualScrollItemSize]="20">
                        <ng-template let-GI pTemplate="selectedItem">
                            <div class="custom-dropdown-item-selected">
                                {{ GI.GrupoInventario }} - {{GI.NombreGrupo}}
                            </div>
                        </ng-template>
                        <ng-template let-GI pTemplate="item">
                            <div class="custom-dropdown-item">
                                {{ GI.GrupoInventario }} - {{GI.NombreGrupo}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="tipoInventario" class="font-semibold w-7rem">Tipo de Inventario</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="tipoInventario" id="tipoInventario" [options]="listTipoInventario"
                        placeholder="Escoja una opcion" styleClass="w-full" [loading]="loadingTipoInventario"
                        [filter]="true" [filterFields]="['CodigoTipoInventario', 'NombreTipoInventario']"
                        [showClear]="true" filterPlaceholder="Buscando..."
                        (ngModelChange)="onChangeTipoInventario($event)" [virtualScroll]="true"
                        [virtualScrollItemSize]="20">
                        <ng-template let-TI pTemplate="selectedItem">
                            <div class="custom-dropdown-item-selected">
                                {{ TI.CodigoTipoInventario }} - {{TI.NombreTipoInventario}}
                            </div>
                        </ng-template>
                        <ng-template let-TM pTemplate="item">
                            <div class="custom-dropdown-item">
                                {{ TM.CodigoTipoInventario }} - {{TM.NombreTipoInventario}}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="proveedor" class="font-semibold w-7rem">Proveedor</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="proveedor" id="proveedor" [options]="listProveedores"
                        optionValue="IdProveedor" placeholder="Escoja una opcion" styleClass="w-full" [filter]="true"
                        [filterFields]="['RazonSocialProveedor']" [showClear]="true" filterPlaceholder="Buscando..."
                        [virtualScroll]="true" [virtualScrollItemSize]="20">
                        <ng-template let-prov pTemplate="selectedItem">
                            <div class="custom-dropdown-item">
                                {{ prov.RazonSocialProveedor }}
                            </div>
                        </ng-template>
                        <ng-template let-prov pTemplate="item">
                            <div class="custom-dropdown-item">
                                {{ prov.RazonSocialProveedor }}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="adherencia" class="font-semibold w-7rem">Adherencia</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="adherencia" [options]="listAdherencia" placeholder="Escoja una opcion"
                        styleClass="w-full" />
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="unidadMedida" class="font-semibold w-7rem">Unidad de medida</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="unidadMedida" [options]="listUnidadMedidaMP"
                        placeholder="Escoja una opcion" styleClass="w-full" />
                </div>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="peso" class="font-semibold w-7rem">Peso g/m2</label>
                <p-inputNumber formControlName="peso" id="peso" [minFractionDigits]="0" mode="decimal" locale="es-EC"
                    currency="USD" [min]="0" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="valor" class="font-semibold w-7rem">Precio compra</label>
                <p-inputNumber formControlName="valor" id="valor" [minFractionDigits]="4" mode="decimal" locale="en-US"
                    currency="USD" [min]="0" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="valormsi" class="font-semibold w-7rem">Precio venta</label>
                <p-inputNumber formControlName="valormsi" id="valormsi" [minFractionDigits]="4" mode="decimal"
                    locale="es-EC" currency="USD" [min]="0" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalCreateProducto = false" />
            </div>
        </form>
    </div>
</p-dialog>
<!--MODAL  EDICION-->
<p-dialog header="Crear producto" [modal]="true" [(visible)]="modalEditProducto" [style]="{ width: '50rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormEdit" (ngSubmit)="onUpdateProductoInventario()">
            <div class="flex align-items-center gap-3">
                <label class="font-semibold w-7rem">Código Interno</label>
                <b class="font-semibold flex-auto text-2xl">
                    {{codLineaInventario}}{{codGrupoInventario}}{{codTipoInventario}}
                </b>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="descripcion" class="font-semibold w-7rem">Descripcion</label>
                <input pInputText id="descripcion" class="flex-auto" autocomplete="off" formControlName="descripcion" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="lineaInventario" class="font-semibold w-7rem">Linea inventario</label>
                <b class="font-semibold flex-auto text-2xl">

                </b>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="grupoInventario" class="font-semibold w-7rem">Grupo inventario</label>
                <b class="font-semibold flex-auto text-2xl">

                </b>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="tipoInventario" class="font-semibold w-7rem">Tipo de Inventario</label>
                <b class="font-semibold flex-auto text-2xl">

                </b>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="proveedor" class="font-semibold w-7rem">Proveedor</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="proveedor" id="proveedor" [options]="listProveedores"
                        optionValue="IdProveedor" placeholder="Escoja una opcion" styleClass="w-full" [filter]="true"
                        [filterFields]="['RazonSocialProveedor']" [showClear]="true" filterPlaceholder="Buscando..."
                        [virtualScroll]="true" [virtualScrollItemSize]="20">
                        <ng-template let-prov pTemplate="selectedItem">
                            <div class="custom-dropdown-item">
                                {{ prov.RazonSocialProveedor }}
                            </div>
                        </ng-template>
                        <ng-template let-prov pTemplate="item">
                            <div class="custom-dropdown-item">
                                {{ prov.RazonSocialProveedor }}
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="adherencia" class="font-semibold w-7rem">Adherencia</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="adherencia" [options]="listAdherencia" placeholder="Escoja una opcion"
                        styleClass="w-full" />
                </div>
            </div>
            <div class=" flex align-items-center gap-3">
                <label for="unidadMedida" class="font-semibold w-7rem">Unidad de medida</label>
                <div class="flex-auto">
                    <p-dropdown formControlName="unidadMedida" [options]="listUnidadMedidaMP"
                        placeholder="Escoja una opcion" styleClass="w-full" />
                </div>
            </div>
            <div class="flex align-items-center gap-3">
                <label for="peso" class="font-semibold w-7rem">Peso g/m2</label>
                <p-inputNumber formControlName="peso" id="peso" [minFractionDigits]="0" mode="decimal" locale="es-EC"
                    currency="USD" [min]="0" />
            </div>

            <div class="flex align-items-center gap-3">
                <label for="valor" class="font-semibold w-7rem">Precio compra</label>
                <p-inputNumber formControlName="valor" id="valor" [minFractionDigits]="4" mode="decimal" locale="en-US"
                    currency="USD" [min]="0" />
            </div>
            <div class="flex align-items-center gap-3">
                <label for="valormsi" class="font-semibold w-7rem">Precio venta</label>
                <p-inputNumber formControlName="valormsi" id="valormsi" [minFractionDigits]="4" mode="decimal"
                    locale="es-EC" currency="USD" [min]="0" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalEditProducto = false" />
            </div>
        </form>
    </div>
</p-dialog>
<!--MODAL INFORMACION-->
<p-dialog header="Producto" [modal]="true" [(visible)]="modalInfoProducto" [style]="{ width: '50rem' }">
    <div class="mt-2 flex flex-column gap-3">
        <p-fieldset legend="Información">
            <div class="flex flex-column gap-2">
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Id</label>
                    <b class="font-semibold  w-full text-xl">{{infoProductoInventario.CodigoCatalogoSustrato}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Descripción</label>
                    <b class="font-semibold w-full text-xl">{{infoProductoInventario.DescripcionSustrato}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Linea Inventario</label>
                    <b class="font-semibold w-full text-xl">{{infoProductoInventario.DescripcionLineaInventario}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Grupo Inventario</label>
                    <b class="font-semibold w-full text-xl">{{infoProductoInventario.NombreGrupo}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Tipo Inventario</label>
                    <b class="font-semibold w-full text-xl">{{infoProductoInventario.NombreTipoInventario}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Proveedor</label>
                    <b class="font-semibold w-full text-xl">{{infoProductoInventario.RazonSocialProveedor}}</b>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Caracteristicas">
            <div class="flex flex-column gap-2">
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Unidad de medida</label>
                    <b class="font-semibold flex-auto text-xl">{{infoProductoInventario.UnidadMedida}}</b>
                </div>
                <div [ngSwitch]="infoProductoInventario.CodigoLineaInventario">
                    <div *ngSwitchCase="'MP'" class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-9rem">Valor</label>
                        <b class="font-semibold flex-auto text-xl">{{infoProductoInventario.Peso}}</b>
                    </div>
                    <div *ngSwitchCase="'PA'" class="flex align-items-center gap-3">
                        <label for="proveedor" class="font-semibold w-9rem">Valor</label>
                        <b class="font-semibold flex-auto text-xl">{{infoProductoInventario.Peso}}</b>
                    </div>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Precio compra</label>
                    <b class="font-semibold flex-auto text-xl">{{infoProductoInventario.ValorUsd | currency:
                        'USD':'symbol':'0.2-4'}}</b>
                </div>
                <div class="flex align-items-center gap-3">
                    <label for="proveedor" class="font-semibold w-9rem">Precio Venta</label>
                    <b class="font-semibold flex-auto text-xl">{{infoProductoInventario.ValorUsdMsi | currency:
                        'USD':'symbol':'0.2-4'}}</b>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset *ngIf="infoProductoInventario.CodigoLineaInventario=== 'MP'" legend="Medidas">
            <p-table [value]="listMedida" [loading]="loadingMedida" styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <p-button severity="success" icon="fa-solid fa-plus" [raised]="true"
                        (onClick)="onOpenAddMedida()"></p-button>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Ancho milimetros</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-medida>
                    <tr>
                        <td>{{ medida.IdAnchoSustrato }}</td>
                        <td>{{ medida.AnchoSustrato }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
        <p-fieldset legend="Ficha técnica">
            <div class="flex gap-3">
                <p-button *ngIf="infoProductoInventario.Adjuntos !== null" label="Visualizar" icon="fa-solid fa-eye"
                    [raised]="true" severity="success" (onClick)="onGetFile()"></p-button>
                <p-fileUpload #fileUpload1 mode="basic" chooseIcon="pi pi-upload" accept="application/pdf"
                    maxFileSize="1000000" chooseLabel="Actualizar archivo" (onSelect)="onUploadFichaTecnica($event)" />
            </div>
        </p-fieldset>
    </div>
</p-dialog>
<!--MODAL DE MEDIDAS-->
<p-dialog header="Crear medida" [modal]="true" [(visible)]="modalAddMedida" [style]="{ width: '25rem' }">
    <div class="mt-2">
        <form class="flex flex-column gap-3" [formGroup]="myFormMedida" (ngSubmit)="onInsertMedida()">
            <div class="flex align-items-center gap-3">
                <label for="medidaML" class="font-semibold w-10rem">Medida en milimetros</label>
                <p-inputNumber formControlName="medidaML" id="medidaML" [minFractionDigits]="0" mode="decimal"
                    locale="es-EC" [min]="0" />
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" severity="success" type="submit" />
                <p-button label="Cerrar" severity="secondary" (onClick)="modalAddMedida = false" />
            </div>
        </form>
    </div>
</p-dialog>